:javascript
  $(document).on('click', '.brand', function() {
    $.get( "brand_products/" + $(this).data('brand'), function( data ) {
      $( ".result" ).html( data );
    });
  });

.brands{ style: 'float: left; display: inline-block;'}
  %h3 Brands
  %p
    %ul
      - @brands.each do |brand|
        %li.brand{'data-brand' => brand}
          %a{href: "brand_products/#{brand}"}
            = brand


.products{ style: 'float: left; display: inline-block;'}
  .result
    result
